body {  background-color: gray; }
.headers { background-color: #d3d3d3; } /* only format some headers as light grey */
/*.Fig_BasicInfo */

.permalink { 
  color: #d3d3d3; 
  font-size: 75%; 
  margin-left:3px;
  text-decoration: none;
}
.permalink:hover { color:gray; }
img { color: blue; font-style: italic; }

.topbottom { 
  color: red; 
  font-size: 75%; 
  float: right;
  margin-left:3px;
  text-transform: uppercase;
  background-color: yellow;
  #border-color: red;
  #border-style: solid;
}

/*
.headers .permalink {   
  position:absolute;
  right:10px;
  top:15px; 
  display:inline-block;
}
*/