body {  background-color: gray; }
.headers { background-color: #d3d3d3; } /* only format some headers as light grey */

.permalink { 
  color: #d3d3d3; 
  font-size: 75%; 
  margin-left:3px;
  text-decoration: none;
}
.permalink:hover { color:gray; }
img { color: blue; font-style: italic; }

.topbottom { 
  color: red; 
  font-size: 75%; 
  float: right;
  margin-left:3px;
  text-transform: uppercase;
  background-color: yellow;
}


#logo {   
  position:absolute;
  right:5px;
  top:5px; 
  #display:inline-block;
}
